# Android Studio & IntelliJ
.gradle
.kotlin
/local.properties
local.properties
.env
debug.keystore
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IntelliJ & Android Studio IDE configuration
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/caches/
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Flutter & Dart build artifacts
.dart_tool/
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/

